html, body {
	background-image: url("/images/paper3.jpg");
	background-size: cover;
}

h1, h2, h3, h4, h5, p, a {
	font-family: 'Open Sans', sans-serif;
	color: #232323!important;
}

#top_columns {
	padding: 10px 0 0 25px;
}

.name {
	font-size: 45px;
}

.subtitle, .close_resume {
	cursor: pointer;
}

.show_resume, .open_email {
	margin-bottom: 5px!important;
}

.dl_resume, .copy_email {
	font-size: 15px!important;
}

#about, #resume, .resume_option {
	display: none;
}

#menu {
	padding: 0 0 0 20px;
}

.menu_options {
	margin-top: 10px;
}

.resume_option p {
	font-size: 25px;
} 

#about p {
	font-size: 22px;
	font-weight: 500;
}